<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bogus.bogusgram.post.dao.PostDAO">

	<insert id="insertPost" parameterType="map">
		INSERT INTO
			`post`
		(
			`userId`
			, `content`
			, `imagePath`
			, `hide_info`
			, `createdAt`
			, `updatedAt`
		)
		VALUE
		(
			#{userId}
			, #{content}
			, #{imagePath}
			, 0
			, now()
			, now()
		)
	</insert>
	
	<select id="selectPost" resultType="com.bogus.bogusgram.post.model.Post">
		SELECT
			`id`
			, `userId`
			, `content`
			, `imagePath`
			, `hide_info`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`hide_info` = 0
		ORDER BY
			`id`
		DESC
	</select>

	<update id="updatePostHide" parameterType="int">
		UPDATE
			`post`
		SET
			`hide_info` = 1
			, `updatedAt` = now()
		WHERE
			`id` = #{postId};
	</update>
	
	<delete id="deletePost" parameterType="int">
		DELETE FROM 
			`post` 
		WHERE 
			`id` = #{postId} 
		AND 
			`userId` = #{userId}
	</delete>
	
	<select id="selectPostInfo" parameterType="int" resultType="com.bogus.bogusgram.post.model.Post">
		SELECT
			`id`
			, `userId`
			, `content`
			, `imagePath`
			, `hide_info`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE 
			`id` = #{postId}
		AND 
			`userId` = #{userId}
	</select>
	
	<update id="updatePost" parameterType="map">
		UPDATE
			`post`
		SET
			`content` = #{content}
			, `imagePath` = #{file}
			, `updatedAt` = now()
		WHERE
			`id` = #{postId};
	</update>
	

	
	
</mapper>