<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bogus.bogusgram.post.dao.PostDAO">

	<insert id="insertPost" parameterType="map">
		INSERT INTO
			`post`
		(
			`userId`
			, `content`
			, `imagePath`
			, `hide_info`
			, `createdAt`
			, `updatedAt`
		)
		VALUE
		(
			#{userId}
			, #{content}
			, #{imagePath}
			, 0
			, now()
			, now()
		)
	</insert>
	
	<select id="selectPost" resultType="com.bogus.bogusgram.post.model.Post">
		SELECT
			`id`
			, `userId`
			, `content`
			, `imagePath`
			, `hide_info`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE
			`hide_info` = 0
		ORDER BY
			`id`
		DESC
	</select>
	
	<insert id="insertLike"  parameterType="int">
		INSERT INTO
			`like`
		(
			`postId`
			, `userId`
			, `createdAt`
		)
		VALUE
		(
			#{postId}
			, #{userId}
			, now()
		)
	</insert>
	
	<select id="selectLike" parameterType="int" resultType="int">
		SELECT
			count(1)
		FROM
			`like`
		WHERE
			`postId` = #{postId}
	</select>
	
	<select id="selectIsDuplicateLike" parameterType="int" resultType="int">
		SELECT
			count(1)
		FROM
			`like`
		WHERE
			`postId` = #{postId}
		AND 
		 	`userId` = #{userId}
	</select>
	
	<delete id="deleteUnlike" parameterType="int">
		DELETE FROM 
			`like` 
		WHERE 
			`postId` = #{postId} 
		AND 
			`userId` = #{userId}
	</delete>
	
	<update id="updatePostHide" parameterType="int">
		UPDATE
			`post`
		SET
			`hide_info` = 1
			, `updatedAt` = now()
		WHERE
			`id` = #{postId};
	</update>
	
	<delete id="deletePost" parameterType="int">
		DELETE FROM 
			`post` 
		WHERE 
			`id` = #{postId} 
	</delete>
	
	<select id="selectPostInfo" parameterType="int" resultType="com.bogus.bogusgram.post.model.Post">
		SELECT
			`id`
			, `userId`
			, `content`
			, `imagePath`
			, `hide_info`
			, `createdAt`
			, `updatedAt`
		FROM
			`post`
		WHERE 
			`id` = #{postId}
	</select>
	
	<update id="updatePost" parameterType="map">
		UPDATE
			`post`
		SET
			`content` = #{content}
			, `imagePath` = #{file}
			, `updatedAt` = now()
		WHERE
			`id` = #{postId};
	</update>
	
	<insert id="insertComment" parameterType="map">
		INSERT INTO
			`comment`
		(
			`postId`
			, `userId`
			, `comment`
			, `createdAt`
			, `updatedAt`
		)
		VALUE
		(
			#{postId}
			, #{userId}
			, #{comment}
			, now()
			, now()
		)
	</insert>
	
	<select id="selectComment" parameterType="map" resultType="com.bogus.bogusgram.post.model.PostDetail">
		SELECT
			`id`
			, `postId`
			, `userId`
			, `comment`
			, `createdAt`
			, `updatedAt`
		FROM
			`comment`
		WHERE 
			`id` = #{postId}
	</select>
	
	
<!-- 닉네임 가져오기 실패작품들
	<select id="selectUser" resultType="com.bogus.bogusgram.user.model.User" parameterType="int">
		SELECT
			`id`
			,`nick_name`
		FROM
			`user`
		WHERE
			`id` = #{userId}
  	</select>
	
	<select id="selectUser2" resultType="com.bogus.bogusgram.user.model.User" parameterType="int">
		SELECT
			`id`
			,`nick_name`
		FROM
			`user`
	</select> -->	
</mapper>