<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bogus.bogusgram.profile.dao.ProfileDAO">
	
	<select id="selectFallowingCount" parameterType="int" resultType="int">
		SELECT
			count(1)
		FROM
			`follow`
		WHERE
			`userId` = #{userId}
	</select>
	
	<select id="selectFallowerCount" parameterType="int" resultType="int">
		SELECT
			count(1)
		FROM
			`follow`
		WHERE
			`following_userId` = #{userId}
	</select>
	
</mapper>