<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bogus.bogusgram.user.dao.UserDAO">

	<insert id="insertUser" parameterType="String">
		INSERT INTO
			`user` 
		(
			`loginId`
			, `name`
			, `nick_name`
			, `password`
			, `createdAt`
			, `updatedAt`
		)
		VALUE
		(
			#{loginId}
			, #{name}
			, #{nickname}
			, #{password}
			, now()
			, now()
		)
	</insert>
	
	<select id="selectCountIsDuplicate" parameterType="String" resultType="int">
		SELECT
			count(1)
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
	</select>
	
	<select id="selcetCountLoginCheck" parameterType="String" resultType="com.bogus.bogusgram.user.model.User">
		SELECT
			`id`
			, `loginId`
			, `name`
			, `nick_name`
			, `password`
			, `profile_img`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
		AND
			`password` = #{password}
	</select>
	
	<select id="selectUserById" parameterType="int" resultType="com.bogus.bogusgram.user.model.User">
		SELECT
			`id`
			, `loginId`
			, `name`
			, `nick_name`
			, `password`
			, `profile_img`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`id` = #{id}
	</select>
	

</mapper>