@charset "UTF-8";

#wrap {
	width:1200px;
	margin:auto;
}

header > .search {
	height:90px;
	width:340px;
}

input::placeholder {
	font-size:small;
}

.searchBtn {
	background-color:#d6d5d2;
}

header > .logo {
	height:90px;
	width:520px;
	color:rgb(241, 196, 15);
	font-size:40px;
}

.logo > a {
	color:rgb(241, 196, 15);
}

.logo > a:hover {
	color:rgb(241, 196, 15);
	text-decoration:none;
}

.updateClickBtn > .btn:hover {
	text-decoration:none;
	color:white;
}

header > .logInOut {
	height:90px;
	width:340px;
}

.logInOut > .login {
	color:rgb(241, 196, 15);
	font-weight:bold;
	font-size:15px;
}

.logInOut > a {
	text-decoration-line: none;
}

.main-contents > .navBtn {
	width:320px;
}

.main-contents > .contents {
	width:550px;
}

.contents > .btn {
	background-color:rgb(243, 115, 102);
	color:white;
}

.contents > .postInputBox {
	height:110px;
}

#uploadBtn {
	background-color:rgb(243, 115, 102);
	color:white;
}

.postInputBox > textarea {
	width:100%;
	border:none;
	resize: none;
	font-size:12px;
}

textarea::placeholder {
	font-size:small;
}

.postInfoBox {
	background-color:#fffeed;
}

.postInfoBoxHeader {
	height:40px;
	background-color:rgb(250, 237, 188);
}

.postInfoBoxHeader > .btn {
	background-color:rgb(250, 237, 188);
}

.modal-body > .btn {
	background-color:rgb(243, 115, 102);
	color:white;	
}

.postImageBox > .postImage {
	width:550px;
	height:300px;
	margin:auto;
}

.postImage > img {
	width:100%;
	height:100%;
}

.likeBtn {
	background-color:#ffffff;
}

.postInfoContent {
	width:460px;
	margin:auto;
}

.comment {
	width:460px;
	margin:auto;
}

.comment > .comment-header {
	height:40px;
	background-color:rgb(250, 237, 188);
}

.commentSellectBtn {
	background-color:rgb(250, 237, 188);
}

.commentBtn {
	background-color:rgb(243, 115, 102);
	color:white;	
}


footer {
	width:550px;
	height:70px;
	color:rgb(158, 158, 158);
	margin:auto;
}

hr {
	height:1px;
	background-color:#c0c4c1;
}

.navBtn > .btn {
	background-color:rgb(243, 115, 102);
	color:white;
}

.image-icon-size {
	font-size:30px;
}

.hideBtn {
	font-size:15px;
}

#wrap2 {
	width:1000px;
	margin:auto; 
}

.header2{
	height:70px;
	font-size:40px;
}

.logo2 > a {
	color:rgb(241, 196, 15);
}

.logo2 > a:hover {
	color:rgb(241, 196, 15);
	text-decoration:none;
}

.userInfoBox2 {
	height:100px;
}

.userInfoBox2 > .profileImageBox2 {
	width:200px;
}

.profileImageBox2 > .profileImage2 {
	width:100%;
	height:100%;
	border-radius:100%;
}

.userInfoBox2 > .buttonBox2 {
	width:100px;
}

.userInfoBox2 > .countBox2 {
	width:650px;
}

.postInfoBox2 {
	width:130px;
}

.followerInfoBox2 {
	width:130px;
}

.followingInfoBox2 {
	width:130px;
}


.main-contents2 > .content2 {
	width:800px;
}

.iconButtons2 > .postIcon2 {
	width:50%;
	height:80px;
}

.iconButtons2 > .postPhotoIcon2 {
	width:50%;
	height:80px;
}

.post-icon2 {
	font-size:50px;
}

.buttonBox2 > .btn {
	background-color:rgb(243, 115, 102);
	color:white;	
}

#profileUpdateBox {
	width:400px;
	height:215px;
	margin:auto;
	background-color:rgb(250, 237, 188);
}

