@charset "UTF-8";

#wrap {
	width:1000px;
	margin:auto; 
}

header{
	height:70px;
	font-size:40px;
}

.logo > a {
	color:rgb(241, 196, 15);
}

.logo > a:hover {
	color:rgb(241, 196, 15);
	text-decoration:none;
}

.userInfoBox {
	height:100px;
}

.userInfoBox > .profileImageBox {
	width:200px;
}

.profileImageBox > .profileImage {
	width:100%;
	height:100%;
	border-radius:100%;
}

.userInfoBox > .buttonBox {
	width:100px;
}

.userInfoBox > .countBox {
	width:650px;
}

.postInfoBox {
	width:130px;
}

.followerInfoBox {
	width:130px;
}

.followingInfoBox {
	width:130px;
}

.main-contents {
	height:500px;
}

.main-contents > .content {
	width:800px;
	height:500px;
}

.iconButtons > .postIcon {
	width:50%;
	height:80px;
}

.iconButtons > .postPhotoIcon {
	width:50%;
	height:80px;
}

.btn {
	background-color:rgb(243, 115, 102);
	color:white;	
}
