@charset "UTF-8";

#wrap {
	width:450px;
	margin:auto;
}

header {
	height:100px;
	color:rgb(255, 201, 0);
	font-size:50px;
}

.join-box {
	height:430px;
	background-color:rgb(250, 237, 188);
}

footer {
	height:70px;
	color:rgb(158, 158, 158);
}

.btn {
	background-color:rgb(243, 115, 102);
	color:white;
}

input::placeholder {
	font-size:small;
}